img{
    width: 168px;
    height: 168px;
}

.card{
    padding: 20px;
}

.heading{
    font-size: 80px;
    background-image: url("/perflowsh.png");
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2);
    background-size: cover;
}

.paragraph{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    font: "Sans-serif";
}