.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#home-header {
  font-size: 350%;
  text-align: center;
  margin-top: 2em;
}

#home-blurb {
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 145%;
    margin-top: 2em;
}

#home-signup-button {
    margin: 2em auto 0px auto;
    width: 14em;
    height: 3em;
    display: block;
    font-size: 150%;
}

#why-pf-info-column {
    background-image: url("/Perflow2.2.png");
    font-size: 150%;
}