.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(152, 61, 61);
}

.App-link {
  color: #09d3ac;

}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}

#home-header {
  font-size: 350%;
  text-align: center;
  margin-top: 2em;
}

#home-blurb {
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 145%;
    margin-top: 2em;
}

#home-signup-button {
    margin: 2em auto 0px auto;
    width: 14em;
    height: 3em;
    display: block;
    font-size: 150%;
    background-color: #84CEEB;
}

.row {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1, h2, h3, h4 {
  color: white;
}


#home-header {
  font-size: 350%;
  text-align: center;
  margin-top: 2em;
}

#home-blurb {
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 145%;
    margin-top: 2em;
}

#home-signup-button {
    margin: 2em auto 0px auto;
    width: 14em;
    height: 3em;
    display: block;
    font-size: 150%;
    background-color: #84CEEB;
}

.container{
  vertical-align: middle
}

#loginLogoDiv {
  margin: 0px;
  padding: 0px;
}

.graph-button{
  text-align: bottom;
}

.button{
  position:absolute;
  bottom: 5%;
  right:20%;
}
#navbarbar{
  margin-left: 40px;
  margin-right: 40px;
}