.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(152, 61, 61);
  
}

.App-link {
  color: #09d3ac;
}

.row {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1, h2, h3, h4, p{
  color: white;
}

h1.Title {
  margin-bottom: 10px;
}

p.part2, p.part3 {
  margin-right: 45px;
}


.whyChoosePerflowSection {
  background: rgb(31,36,62);
  background: radial-gradient(circle, rgba(31,36,62,1) 0%, rgba(25,34,49,1) 100%);
  padding-top: 30px;
  //padding-right: 30px;
  padding-bottom: 0px;
  //padding-left: 30px;
  margin-bottom: 0px;
}

#wcpGraph{
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;  
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;

}

#why-pf-info-column {
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 0px;
}
.testimonialsSection {
  background: rgb(132,206,235);
  background: radial-gradient(circle, rgba(132,206,235,1) 0%, rgba(99,216,242,1) 38%, rgba(87,198,242,1) 90%);
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  margin-bottom: 0px;
}
.pwcRow{
  margin:auto;
  display: inline-block;
}

#home-header {
  font-size: 350%;
  text-align: center;
  margin-top: 2em;
}

#home-blurb {
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 145%;
    margin-top: 2em;
}

#home-signup-button {
    margin: 2em auto 0px auto;
    width: 14em;
    height: 3em;
    display: block;
    font-size: 150%;
    background-color: #84CEEB;
}
